<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Go Assembly by Example: {{.Name}}</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div class="example" id="{{.Id}}">
      <h2><a href="./">Go Assembly by Example</a>: {{.Name}}</h2>
      {{range .Segs}}
      <table>
        {{range .}}
        <tr>
          <td class="docs">
            {{.DocsRendered}}
          </td>
          <td class="code{{if .CodeEmpty}} empty{{end}}{{if .CodeLeading}} leading{{end}}">
	        {{if .CodeRun}}<a href="http://play.golang.org/p/{{$.UrlHash}}"><img title="Run code" src="play.png" class="run" /></a>{{end}}
            {{.CodeRendered}}
          </td>
        </tr>
        {{end}}
      </table>
      {{end}}
      {{if .NextExample}}
      <p class="next">
        Next example: <a href="{{.NextExample.Id}}">{{.NextExample.Name}}</a>.
      </p>
      {{end}}
      <p class="footer">
        by <a href="https://twitter.com/lyon01_david">@lyon01_david</a> | based on <a href="https://gobyexample.com/">Go by Example</a> by <a href="https://twitter.com/mmcgrana">@mmcgrana</a>
      </p>
    </div>
  </body>
</html>
